// Colors //
$primary-color: ivory;
$secondary-color: grey;
$carrot-color: indianred;
$black-color: black;
$lavender-color: lavender;
$mediumpurple: mediumpurple;

// Font Sizes
$primary-fs: 21px;
$secondary-fs: 17px;
$large-fs: 30px;
// Default settings
$border: 14px solid $black-color;
@mixin picture-border {
  border: $border;
}
@mixin center-text-inside-circle{
  color: $primary-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -56%);
}