@import "utils";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  padding: 0 15%;
  max-width: 100%;
  margin-inline: auto;
}
.App {
  text-align: center;
}
.btn__wrapper {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 35px;
  padding-bottom: 80px;
}
