@import "src/utils";
.cards__bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 25px;
  overflow: scroll;
  padding: 50px 0;
  .card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .song__banner__wrapper img {
      width: 300px;
      height: 300px;
      border-radius: 10px;
    }
    .detailed__song__info {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .song__title {
        font-weight: bold;
        font-size: 19px;
      }
      .song__artist {
        font-weight: 300;
        font-size: 16px;
      }
      .song__description {
        font-weight: 300;
        font-size: 14px;
      }
    }
  }
  .song__price {
  }
}
.song__price--old {
  text-decoration: line-through;
}
.song__price--new {
  background-color: $carrot-color;
  width: fit-content;
  padding: 2px;
  color: $primary-color;
  font-weight: bold;
}
