@import "./src/utils";
.cart__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $carrot-color;
  gap: 7px;
  width: fit-content;
  padding: 5px;
  .cart__label {
    color: $primary-color;
    font-size: $secondary-fs;
  }
  .cart__image__cont {
    display: inline-block;
    .cart__image {
      mix-blend-mode: multiply;
      width: 25px;
      height: 30px;
    }
  }
}
