@import "./src/utils";

.top__header__wrapper {
  width: 100%;
  background: $secondary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login__wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}
.login__labels {
  text-decoration: none;
  font-size: $secondary-fs;
  color: $primary-color;
}
.bottom__header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
}
.brand__logo__cont {
  display: flex;
  align-items: center;
  justify-content: center;
  .brand__name {
    font-size: 30px;
    text-decoration: none;
  }
  .logo {
    position: relative;
    .brand__part {
      text-decoration: none;
      color: $primary-color;
      font-weight: bold;
      font-size: 40px;
      position: absolute;
      z-index: 1;
      top: 43%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .logo__icon {
    mix-blend-mode: multiply;
    width: 67px;
    height: 60px;
  }
}
