.sns__bar {
  &__image__container {
    display: inline-block;
    margin-right: 7px;
    .sns__bar__image {
      filter: brightness(95%);
      mix-blend-mode: multiply;
      width: 23px;
      height: 23px;
      border-radius: 50%;
    }
  }
}
