@import "./src/utils";
.btn__container {
  padding: 17px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  width: 300px;
  min-height: 170px;
  color: $primary-color;
}
.title__btn__cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  font-weight: bold;
  .btn__title {
    font-size: 20px;
  }
}
.icon {
  width: 30px;
  height: 30px;
  mix-blend-mode: multiply;
}
.description {
  line-height: 22px;
}
