@import "./src/utils";
.title__wrapper {
  padding: 50px 0;
  text-align: center;
  width: fit-content;
}
.title {
  text-transform: uppercase;
  font-size: $large-fs;
  &__red {
    cursor: pointer;
    padding: 5px;
    color: $primary-color;
    background-color: $carrot-color;
    &:hover {
      background-color: deeppink;
      color: aqua;
    }
  }
}
.title__cont {
  padding: 30px 0;
  border-top: 4px dotted $black-color;
  border-bottom: 4px dotted $black-color;
}
