@import "./src/utils";
.opened__cart {
  max-height: 400px;
  overflow: scroll;
  background-color: $primary-color;
  position: absolute;
  right: 15%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: bold;
  padding: 15px 40px;
}
.cart__product__container {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: dotted;
  .product__icon {
    width: 70px;
    height: 70px;
    border-radius: 7px;
  }
}
.rating__stars {
  display: block;
}
.price__cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  .delete__btn {
    font-weight: bold;
    color: $primary-color;
    background-color: $carrot-color;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
  }
}
.total__cost__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: dotted;
  padding-bottom: 15px;
  .total__cost {
    color: $carrot-color;
  }
}
.btn__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.price:before,
.total__cost:before {
  content: "$";
  display: inline;
}
