@import "src/utils";
@import "../../Card";
.sale__circle {
  .sale__text {
    font-weight: bold;
    @include center-text-inside-circle;
  }
  position: absolute;
  top: 1%;
  left: 3%;
  opacity: 0.7;
}

.card {
  position: relative;
}
