@import "./src/utils";
.circle {
  border-radius: 50%;
  background-color: $carrot-color;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 40%;
  cursor: pointer;
  transition: background-color 0.5s ease;
  &:hover {
    background-color: $black-color;
  }
  .arrow {
    font-size: 65px;
    font-weight: 300;
    @include center-text-inside-circle;
  }
}
.left {
  bottom: 30%;
  left: 6%;
}
.right {
  right: 6%;
}
