@import "src/utils";
.block__title {
  text-transform: uppercase;
  color: $secondary-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
  position: relative;
}
.block__title__text:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 30%;
  width: 47%;
  left: 33%;
  border-bottom: 4px dotted $black-color;
}
