@import "./src/utils.scss";
.cart__btn {
  background-color: $black-color;
  border: none;
  width: fit-content;
  padding: 15px;
  color: $primary-color;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:after {
    content: "\27F6";
    margin-left: 10px;
    font-size: $secondary-fs;
  }
}
