@import "./src/utils";
.footer {
  position: relative;
  background-color: darken($secondary-color, 30%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
  color: $primary-color;
  padding-top: 30px;
  padding-bottom: 70px;
  font-weight: bold;
  .company__info__title {
    font-size: 20px;
  }
  .company__info__description {
    font-size: 12px;
  }
}
.company__info {
  flex-basis: 35%;
}
.archives {
  .archive__list__item {
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px dotted $primary-color;
    &:last-child {
      border-bottom: none;
    }
  }
}
.posts {
  .albums__list {
    display: flex;
    gap: 15px;
  }
  .albums__list__item {
    list-style: none;
    .album__poster {
      width: 100px;
      height: 100px;
    }
  }
  .album__name {
    font-size: 15px;
  }
  .comments__counter {
    font-size: 12px;
  }
}
.site__navigation {
  .search__input {
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    margin-top: 14px;
    width: 220px;
    padding: 7px;
    background-color: $black-color;
    border: 1px solid $secondary-color;
    &:hover {
      background-color: lightgrey;
    }
  }
}
.posts,
.archives {
  flex-basis: 26%;
}
.company__info,
.posts,
.archives,
.site__navigation {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
}
.tag__area {
  .tag__container {
    margin-top: 15px;
    .tag {
      font-weight: normal;
      font-size: 12px;
      color: $black-color;
      background-color: $lavender-color;
      padding: 5px;
      margin-right: 5px;
      cursor: pointer;
      &:hover {
        background-color: $mediumpurple;
      }
    }
  }
}
.footer__nav {
  display: flex;
  position: absolute;
  bottom: 0;
  margin: 20px 0;
  gap: 60px;
  .route__wrapper {
    .link__item {
      text-decoration: none;
      color: $primary-color;
    }
    display: flex;
    gap: 5px;
  }
}
