@import "../../../../utils";
@import "../../Card";
.add__to__cart--btn {
  position: absolute;
  width: fit-content;
  padding: 10px;
  background-color: $lavender-color;
  border: none;
  border-radius: 5px;
  color: $secondary-color;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s ease;
  top: 93%;
  left: 62%;
  &:hover {
    background-color: $mediumpurple;
    color: $primary-color;
  }
}
.card {
  position: relative;
}
