@import "./src/utils";
.navbar {
  padding: 50px 0;
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    &__item {
      list-style: none;
      &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: $black-color;
        font-weight: bold;
      }
    }
  }
}
