@import "./src/utils";

.modal__wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: darken($secondary-color, 33%);
  z-index: 2;
}
.modal {
  background-color: $carrot-color;
  gap: 30px;
  text-align: center;
  color: $primary-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__header {
    padding: 20px 30px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: darken($carrot-color, 15%);
    &__close__btn {
      cursor: pointer;
    }
  }
  &__message {
    text-align: center;
    padding: 50px;
    font-size: 22px;
    width: 706px;
  }
  &__btn__container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 30px;
    .modal__btn {
      &:hover {
        background-color: darken($carrot-color, 40%);
      }
      cursor: pointer;
      padding: 11px 20px;
      border: none;
      border-radius: 10px;
      font-weight: 700;
      font-size: 18px;
      color: $primary-color;
      margin: 10px 10px 10px 20px;
      background-color: darken($carrot-color, 15%);
    }
  }
}
