@import "./src/utils";
.publishers__wrapper {
  background-color: $primary-color;
  padding: 50px 0;
  .publishers__title {
    color: $secondary-color;
    text-transform: uppercase;
    padding-bottom: 28px;
  }
}

.logo__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .logo__box {
    background-color: lightgrey;
    padding: 30px;
    display: grid;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0 12px 28px 0,
      rgba(0, 0, 0, 0.1) 0 2px 4px 0,
      rgba(255, 255, 255, 0.05) 0 0 0 1px inset;
    &:before {
      content: "";
      padding-bottom: 100%;
      display: block;
    }
    &:hover {
      background-color: $lavender-color;
    }
    .logo {
      width: 100%;
      height: 100%;
      object-fit: contain;
      mix-blend-mode: multiply;
    }
  }
}
.logo__box:before,
.logo {
  grid-area: 1 / 1 / 2 / 2;
}
