@import "./src/utils";
.presentation__wrapper {
  background-color: $primary-color;
}
.photo__container {
  display: flex;
  justify-content: center;
  background-color: $secondary-color;
}
.banner {
  width: 750px;
  height: 550px;
  @include picture-border;
}
